.width {
  width: 100%;
}

.firsttext {
  font-family: "roboto", sans-serif;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  color: rgb(125, 115, 252);
  font-weight: 700;
  letter-spacing: 1px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

nav {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.secondtext {
  font-family: "roboto", sans-serif;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  align-items: center;
  letter-spacing: 0.03em;
  font-family: "roboto", sans-serif;
  font-weight: 500px;
  font-size: 18px;
  line-height: 16px;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(200, 200, 212);
  font-weight: 400;
  line-height: 28px;
  padding-left: 24px;
  padding-right: 24px;
}

body {
  background-color: rgb(25, 23, 101);
}

.image-picture {
  background-image: url(top-circles.svg);
  background-image: url(portfolio.background.shapes.mobile.svg);
  background-size: cover;
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
  padding: 50px;
}

.flex123 {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

i {
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
  font-size: 60px;
}

.title {
  color: rgb(148, 155, 255);
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.columnmain {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 80px;
}

.column {
  flex-direction: column;
  flex-basis: 150px;
  display: flex;
  width: 80%;
}

.column3 {
  flex-direction: column;
  padding-left: 80px;
  display: flex;
  width: 80%;
}

li {
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.icon {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.styling1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
  gap: 25px;
}

.styling2 {
  display: flex;
  height: 15px;
  justify-content: center;
  column-gap: 25px;
  align-items: center;
  margin-top: -15px;
}

.myrecentwork {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  color: rgb(148, 144, 255);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: -60px;
  flex-wrap: wrap;
  padding-left: 24px;
  padding-top: 35px;
  width: 327px;
  height: 104px;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  height: 236px;
  width: 327px;
  left: 0;
  top: 0;
  border-radius: 0;
}

.text {
  color: rgb(255, 255, 255);
  text-align: left;
  padding-left: 35px;
  display: flex;
  align-items: left;
  font-family: "roboto", sans-serif;
  font-size: 50px;
}

.paragraph-text {
  text-align: left;
  padding-left: 35px;
  padding-right: 35px;
}

..paragraph-text1 {
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
}

.styling3 {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: rgb(125, 115, 252);
  border-color: rgb(125, 115, 252);
  justify-content: space-around;
  width: 100px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
}

button:hover {
  background-color: rgb(94, 66, 215);
}

.input123456 {
  margin-top: 40px;
  margin-left: 143px;
  margin-right: 143px;
}

.button12 {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: rgb(125, 115, 252);
  border-color: rgb(125, 115, 252);
  justify-content: center;
  width: 100px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
  font-family: "roboto", sans-serif;
  margin-top: 40px;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-footer {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
text-align: center;
margin-top: -45px;
}
.redifining {
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.lastpart {
  padding-left: 19px;
  padding-right: 19px;
  display: grid;
  grid-template-columns: auto;
  width: 95%;
}

.negro {
  padding-left: 19px;
  padding-right: 19px;
  display: grid;
  grid-template-columns: auto;
  width: 95%;
  margin: auto;
  float: right;
}

.separator-text {
  padding-left: 24px;
  padding-right: 24px;
  width: 450px;
  margin: 10% auto;
}

.separator-text1 {
  padding-left: 80px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.form-center {
  justify-content: center;
  align-self: center;
  column-gap: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.input123 {
  margin-top: 40px;
  margin-left: 24px;
  margin-right: 24px;
  width: 327px;
  height: 48px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.input1234 {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  width: 327px;
  height: 48px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.input12345 {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  width: 327px;
  height: 148px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.lasttext {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */
  font-family: "roboto", sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.first {
  width: 80%;
  display: grid;
  grid-template-rows: auto;
  padding: 50px;
  padding-left: 24px;
}

.second {
  width: 80%;
  display: grid;
  grid-template-rows: auto;
}

form {
 margin: auto;
 justify-content: center;
 text-align: center;
}

.maintextfooter {
  font-family: "roboto", sans-serif;
  font-weight: 500;
font-size: 32px;
line-height: 44px;
color: rgb(147, 144, 255);
text-align: center;
}

.third {
  width: 80%;
  display: grid;
  grid-template-rows: auto;
}

.header {
  width: 100%;
  margin-top: 66px;
  justify-content: space-around;
}

.cont1 {
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
}

.logo-placeholder {
  padding-left: 24px;
}

nav img {
  width: 60px;
  height: 60px;
  padding-right: 24px;
}

.logo {
  padding-left: 24px;
}

div a {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

